.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .error-forgot-password {
      font-weight: bold;
      color: red;
    }
  }
  
  .forgot-password-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    // border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 3px;
      outline: none;
    }
  
    h2 {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 24px;
    }
  
    .back-btn {
      display: inline-block;
      padding: 2px 4px;
      text-decoration: none;
      background-color: #ffffff; 
      color: #000000;
      border-radius: 90%;
      font-size: 24px;
      font-weight: bold;
      transition: background-color 0.4s ease;
      cursor:pointer
    }
  
    .back-btn:hover {
      background-color: #767676; 
      color: #ffffff; 
    }
  }
  