.footer {
  width: 100%;
  height: 300px;
  background-color: rgb(38, 50, 54);
  color: white;
  display: flex;
  flex-direction: column; /* Vertical layout */
}

.upper-footer {
  flex: 1;
  padding:2rem;

  .upper-footer-container{
    width: 100%;
    height: 100%;
    // background-color: red;
    display: flex;
    gap: 20px;

    .upper-footer-div{
      flex: 33%;
      display: flex;
      flex-direction: column; 
      gap: 10px;

      a{
        color : white;
      }
      // background-color: blue;
    }

  }

}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid white; /* Adjusted the hr style */
  margin: 0;
}

.bottom-footer {
  flex: 0 0 10%; /* Takes 10% of the available space */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Styles for the bottom part */
}
